<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="./css/index.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">


</head>
<body>

<section class="homeSection">
	

<div class="navSectionContainer">
	
	<div class="logoContainer"> 

		<img src="./img/Icon awesome-link@2x.png">
		<span>MEDIBLOCK</span>


	</div>


	<div class="navBar"> 

		<ul class="mainNav">

		<li class="cool-link"><a href="/medicines/">Medicine Shipments</a></li>
		<li class="cool-link"><a href="#">QR Scan</a></li>
		<li class="cool-link"><a href="#">Dashboard</a></li>
		<li class="cool-link"><a href="#"><img src="./img/Icon feather-search@2x.png"></a></li>

		</ul>

	</div>




</div>

<div class="contentContainer">

	<div class="textContainer">
	
	<h2 class="mainHeading"> counterfeiting: THING OF THE PAST </h2>
	

	<p class="bodyText"> 

		 A web3 app that uses the Ethereum blockchain to protect your medicines. Verify authenticity through a decentralized server and track each medicine's location. Join us now!
		
		<!-- We are a Web3 based application that protects our Medicines. 
		
		We've created smart contracts for a medicines supply chain.
		By hosting all transactions, and all other 
		flow of Information like the weight and the volume of the package on a decentralized server, we mitigate counterfeiting. And that's not all, 
		we also track the location of the package. Join us now!  -->

	<p class="bodyText">

		<div class="buttonHolder">

			<% if (flag == false) { %>
			
			<a href="/login/"><button class="logIn">Log In</button></a>

			<% } %>

			<% if (flag == true) { %>
			
				<a href="/login/"><button class="logIn">Logout</button></a>
	
			<% } %>
	

			<span class="signUp"><a href="#">Sign Up</a></span>

	</div>

		</div>

		<div class="imageContainer">
			
			<img src="./img/Mask Group 2@2x.png">


		</div>





</div>












</section>


</body>
</html>