<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/loginPage.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <style>

    </style>

</head>

<body>

	<div class="navSectionContainer">
	
		<div class="logoContainer"> 

		<img src="../img/Icon awesome-link@2x.png">
		<span> <a href = "/">MEDICHAIN </a> </span>


		</div>

	</div>

	<div class="contentContainer"> 

		<div class="mainContainer">
			
			<p class="logIn">Log In</p>
			<p class="mainText">Welcome Back! Login to access your Dashboard</p>

		</div>

		<div class="socialAccount">
			
			<div class="socialHolder ">
					
					<img src="../img/Icon awesome-apple@2x.png" class="apple">

			</div>

			<div class="socialHolder ">

					<img src="../img/Icon ionic-logo-google@2x.png" class="google">
				
			</div>

			<div class="socialHolder ">

					<img src="../img/Icon awesome-facebook-f@2x.png" class="facebook">
				
			</div>


		</div>

		<div class="fieldHolder">
			
			
				
				<form action="ledgerPage.html" class="form">
  
  				<input type="text" name="E-mail" placeholder="E-mail" class="fields"><br>
  				<input type="password" name="Password" placeholder="Password" class="fieldOne"><br><br>
  				<input type="submit" value="Log In" class="submit">

				</form> 



				</form>


		</div>


		<div class="addSettings">
			

			<p class="forgotPassword">Forgot Password?</p>
			<p class="signUp">Sign Up</p>




		</div>

		<div class="backgroundImage">
			
			<img src="../img/Group 127@2x.png">


		</div>


	</div>





</body>
</html>