<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ledger Entry</title>
</head>

<body>
    <h1><%=medicine.name%></h1>
    <h2>Add a Ledger Entry</h2>
    <form action="/medicines/<%=medicine._id%>/ledgerItems" method="POST">
        <label for="description">Ledger entry description</label>
        <input type="text" name="description" id="description" placeholder="Description">
        <br>
        <br>
        <label for="date">Date</label>
        <input type="date" id="date" name="date" placeholder="date">
        <br>
         <br>
        <label for="weight">Weight</label>
        <input type="number" id="weight" name="weight" placeholder="weight">
        <br>
        <br>
        <label for="units">Number of Units</label>
        <input type="number" id="units" name="units" placeholder="units">
        <br>
        <br>
        <button>Submit</button>
    </form>
    <br>
    <a href="/medicines/<%=medicine._id%>">Back To Medicine </a>


</body>

</html>